<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Cadastrar - Novo Anime</title>
</head>
<body>
    <h1>   Cadastro Anime    </h1>
<form  method="POST" action="/adicionar">
    <label for="nome"> Nome Do Anime:</label>
    <input type="text" name="nome" id="nome"/>

    <label for="genero"> Gênero:</label>
    <input type="text" name="genero" id="genero"/>

    <label for="eps">Quantidade De Episódios:</label>
    <input type="text" name="eps" id="eps"/>

    <input type="submit" value="Salvar"/>
</form>

<a href="/">Home</a>

</body>
</html>