<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Cadastro Anime</title>
</head>
<body>

    <h1>Minha Lista de Anime</h1>

    <ul>

        <li th:each="anime: ${lista}" >  
            <a th:href="@{/detalhes/{id}(id=${anime.id})}" th:text="${anime.nome}">NOME</a>  
            <a th:href="@{/editar/{id}(id=${anime.id})}">Editar</a>
            <a th:href="@{/deletar/{id}(id=${anime.id})}">Deletar</a>

        </li>
    </ul>
    <a href="/cadastro"> Novo Anime</a>
    
</body>
</html>